@charset "UTF-8";

body{
	background-color:#003366;
	color:#333333;
	margin:0;
	font-size: 12px;
	padding: 4px;
	text-align: center;
}

.largespace{
	height: 14px;
}
table {
	font-size: 12px;
}
.explanation {
	font-size: 10px;
	line-height: 14px;
	color: #CCCCCC;
	background-color: #000099;
	/*border: 1px solid #999999;*/
	padding: 3px;
	margin:0;
}
.subtitle {
	font-size: 12px;
	line-height: 16px;
	font-family: "ＭＳ Ｐゴシック", Osaka;
	background-color: #BBBBAA;
	color: #CCCCCC;
	padding: 4px;
	margin:6 0px 0;
}
.menutitle {
	background: #DDDDCC;
	padding:4px;
	color: #333333;
	margin:0;
	font-size: 12px;
}

.moji{
	color: #CCCCCC;
}
