/* ====================================================================================
    basic setting
======================================================================================*/
        /* Reset */
    #m1-login * {
        box-sizing: border-box;

        margin: 0;
        padding: 0;
        border: 0 none;

        font-size: 16px;
    }
    /* hidden */
    #m1-login {
        opacity: 0;
        visibility: hidden;

        transition: all .5s;
    }
    /* show */
    #m1-login.is-show {
        opacity: 1;
        visibility: visible;
    }
    /* cover layer */
    #m1-login .mod__wrapper {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 9999;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        width: 100%;
        height: 100vh;
        margin: auto;

        background-color: rgba(0, 0, 0, 0.85);
    }
    /* container */
    #m1-login .mod__container {
        box-sizing: border-box;

        width: auto;
        max-width: 480px;
        min-width: 280px;
        margin: 15px;
        padding: 30px;
        border-radius: 10px;

        background-color: rgba(255, 255, 255, 0.8);
    }
    /* title */
    #m1-login .mod__title {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }
    #m1-login .mod__title::before {
        content: "ログイン";
    }
    /* fieldset */
    #m1-login .mod__fieldset {
        padding: 5px;

        text-align: center;
    }
    /* input id and password */
    #m1-login .mod__inputArea {
        margin-top: 15px;
    }
    #m1-login .mod__inputText,
    #m1-login .mod__inputPassword {
        width: 100%;
        height: 60px;
        padding: 5px 15px;
        border: 1px solid #ddd;
        border-radius: 5px;

        line-height: 40px;

        outline: 0 none;
    }
    #m1-login .mod__inputText:focus,
    #m1-login .mod__inputPassword:focus {
        border-color: #999;
    }
    /* error message */
    #m1-login .mod__errorMessage {
        margin-top: 30px;

        color: #c00;
        font-weight: bold;
        line-height: 2;
        text-align: center;
    }
    /* submit button */
    #m1-login .mod__submitArea {
        margin-top: 30px;
    }
    #m1-login .mod__submitBtn {
        padding-right: 1.5em;
        padding-left: 1.5em;
        border: 0 none;
        border-radius: 5px;
        background-color: #c00;

        color: #fff;
        font-size: 16px;
        font-weight: bold;
        line-height: 3;

        transition: background-color .5s;

        cursor: pointer;
    }
    #m1-login .mod__submitBtn::before {
        content: "ログイン";
    }
    #m1-login .mod__submitBtn:hover {
        background-color: #f00;
    }
    /* close button*/
    #m1-login .mod__closeArea {
        text-align: center;
    }
    #m1-login .mod__closeBtn {
        color: #fff;
    }
    #m1-login .mod__closeBtn::before {
        content: "閉じる";
    }
/* ====================================================================================
    design setting
======================================================================================*/
    /* title */
    #m1-login #m1-reDesign .mod__title {
    }
    #m1-login #m1-reDesign .mod__title::before {
    }
    /* container */
    #m1-login #m1-reDesign .mod__container {
    }
    /* fieldset */
    #m1-login #m1-reDesign .mod__fieldset {
    }
    /* input id and password */
    #m1-login #m1-reDesign .mod__inputArea {
    }
    #m1-login #m1-reDesign .mod__inputText {
    }
    #m1-login #m1-reDesign .mod__inputPassword {
    }
    #m1-login #m1-reDesign .mod__inputText:focus,
    #m1-login #m1-reDesign .mod__inputPassword:focus {
    }
    /* error message */
    #m1-login #m1-reDesign .mod__errorMessage {
    }
    /* button */
    #m1-login #m1-reDesign .mod__submitArea {
    }
    #m1-login #m1-reDesign .mod__submitBtn {
    }
    #m1-login #m1-reDesign .mod__submitBtn:hover {
    }
    #m1-login #m1-reDesign .mod__submitBtn::before {
    }
    /* close button */
    #m1-login #m1-reDesign .mod__closeArea {
    }
    #m1-login #m1-reDesign .mod__closeBtn {
    }
    #m1-login #m1-reDesign .mod__closetBtn::before {
    }
